API_URL=http://localhost:3000
HOST=0.0.0.0
PORT=3000
NODE_ENV=development

DATABASE_URL=

ANTHROPIC_API_KEY=
OPENAI_API_KEY=
AWS_BEARER_TOKEN_BEDROCK=

CLERK_FRONTEND_API=
CLERK_OAUTH_CLIENT_SECRET=
CLERK_OAUTH_CLIENT_ID=
CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
JWT_SECRET=jwt-secret

POLAR_ACCESS_TOKEN=
POLAR_PRODUCT_ID=
POLAR_SERVER=sandbox
POLAR_CREDITS_METER_ID=
